:root {

    font-family: "Iceberg", sans-serif;

}

img {
    display: block;
}

/* utility classes */

.column-wrapper {
    flex-flow: column wrap;
}

/* animations  */
/* bounce-in */

@keyframes bounce-in {

    0% {
        opacity: 0;
        transform: translateY(50%);
        scale: .5;
    }

    50% {
        transform: scale(1.2);
        transform: translateY(-25%);
    }

    100% {
        transform: scale(1);
        transform: translateY(0%);
        opacity: 100%;

    }

}

.bounce-in {
    animation: bounce-in 1.5s;
}



/* bg-[linear-gradient(to_right,blue_50%,darkblue_50%)] */
